<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="assets/css/screen.css" />

	<script type="text/javascript" src="http://code.jquery.com/jquery-2.1.3.min.js"></script>
	<script type="text/javascript" src="http://underscorejs.org/underscore.js"></script>
	
	<script type="text/javascript" src="http://backbonejs.org/backbone.js"></script>
   	<script id="contactTemplate" type="text/template">
        <img src="<%= photo %>" alt="<%= name %>" />
        <h1><%= name %><span><%= type %></span></h1>
        <div><%= address %></div>
        <dl>
            <dt>Tel:</dt><dd><%= tel %></dd>
            <dt>Email:</dt><dd><a href="mailto:<%= email %>"><%= email %></a></dd>
        </dl>
        <button class="delete">Delete</button>
        <button class="edit">Edit</button>
    </script>
    <script id="contactEditTemplate" type="text/template">
		<form action="#">
		    <input class="photo" type="file" value="<%= photo %>" />
		    <input class="name" value="<%= name %>" />
		    <input id="type" type="hidden" value="<%= type %>" />
		    <input class="address" value="<%= address %>" />
		    <input class="tel" value="<%= tel %>" />
		    <input class="email" value="<%= email %>" />
		    <button class="save">Save</button>
		    <button class="cancel">Cancel</button>
		</form>
	</script>
</head>
<body>

<div id="contacts">
	<header>
		<div id="filter">
			<label>Show me:</label>
		</div>
		<a id="showForm" href="#">Add new contact</a>
	</header>
	<form id="addContact" action="#">
	    <label for="photo">photo:</label><input id="photo" type="file" />
	    <label for="type">Type:</label><input id="type" />
	    <label for="name">Name:</label><input id="name" />
	    <label for="address">Address:</label><input id="address" />
	    <label for="tel">Tel:</label><input id="tel" />
	    <label for="email">Email:</label><input id="email" />
	    <button id="add">Add</button>

	</form>
</div>

	<!-- Models -->
	<script type="text/javascript" src="assets/js/models/contact.js"></script>
	<!-- Collections -->
	<script type="text/javascript" src="assets/js/collections/directory.js"></script>

	<!-- Views -->
	<script type="text/javascript" src="assets/js/views/contact.js"></script>
	<script type="text/javascript" src="assets/js/views/directory.js"></script>

	<!-- Routers -->
	<script type="text/javascript" src="assets/js/routers/contacts.js"></script>

	<!-- Main App-->
	<script type="text/javascript" src="assets/js/app.js"></script>

	<script type="text/javascript">
		var router = new ContactsRouter();
		Backbone.history.start();
	</script>
</body>
</html>	